# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
**/logs

# NPM dependencies for swagger-ui
/rest-endpoint/swagger-ui/node_modules/
/rest-endpoint/swagger-ui/dist/

#Shell Script results
/automated-results